@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    .detalle-solucion{
        width: calc(75% - 370px); 
        margin-right: 370px; 
    }
    .informacion-solucion {
        position: fixed;
        right: 20px; 
        top: 100px;  
        width: 350px;
        background-color: v.$gris;
        padding: 1rem;
        border: none;
        height: 400px;
        z-index: 100; 
        overflow: hidden; 
    }
    .campo-corto{

        &:disabled{
            color: v.$blanco;
        }
    }
}