.swal2-title {
    font-size: 24px; /* Tamaño del título */
    font-weight: bold; /* Opcional: negrita */
}

.swal2-html-container {
    font-size: 20px; /* Tamaño del contenido */
}
.swal2-confirm {
    font-size: 18px; /* Tamaño del texto */
    padding: 15px 25px; /* Tamaño del botón */
    border-radius: 10px; /* Opcional: redondear bordes */
    min-width: 200px; /* Opcional: establecer un ancho mínimo */
}

