p > img{
    max-width: 50rem;
    max-height: 30rem;
}
.detalle-descripcion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.detalle-video{
    display: block;
    margin-top: 2rem;
    p{
        margin-bottom: 1.5rem;
    }
}