@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen{
        height: 20rem;
        background-color: v.$blanco;
        @include m.tablet{
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
 
        @include m.tablet {
            overflow: scroll;
        }
 
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.barra{
    margin: v.$separacion 0;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        margin: 0;
        @include m.boton(v.$negro, v.$blanco);
        
    }
}
